# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml

#IGNORE ELECTRON
/electron/node_modules
/electron/.idea
/electron/yarn.lock
/electron/.vscode
/electron/*.iml
/electron/package-lock.json
/electron/build/*
/electron/build/dist/**
/electron/src/custom-server/public/**
/electron/src/public/
/electron/build/
/electron/dist/
/electron/cache/
/electron/error.log
/electron/info.log
/electron/log/

#IGNORE ELECTRON SOCKET.IO
/electron/node_modules
/electron/.idea
/electron/yarn.lock
/electron/.vscode
/electron-io/*.iml
/electron/package-lock.json
/electron/build/*
/electron/build/dist/**
/electron/src/custom-server/public/**
/electron/build/
/electron/dist/
/electron/cache/
/electron/error.log
/electron/info.log
/electron/log/

#IGNORE SERVER
/server/node_modules
/server/.idea
/server/yarn.lock
/server/.vscode
/server/*.iml
/server/package-lock.json
/server/public/*
/server/src/public/

#IGNORE FRONT
/client/node_modules
/client/package-lock.json
/client/.idea
/client/yarn.lock
/client/.vscode
/Front/*.iml
/client/.DS_Store
/client/.thumbs.db
/client/.quasar
/client/dist
/client/dist/
/client/.ide-helper/

/client/node_modules
/client/package-lock.json
/client/.idea
/client/yarn.lock
/client/.vscode
/client/.DS_Store
/client/.thumbs.db
/client/.quasar
/client/dist
/client/dist/
/client/.ide-helper/


/client-tsv1/node_modules
/client-tsv1/package-lock.json
/client-tsv1/.idea
/client-tsv1/yarn.lock
/client-tsv1/.vscode
/client-tsv1/.DS_Store
/client-tsv1/.thumbs.db
/client-tsv1/.quasar
/client-tsv1/dist
/client-tsv1/dist/
/client-tsv1/.ide-helper/

# Cordova related directories and files
/client/src-cordova/node_modules
/client/src-cordova/platforms
/client/src-cordova/plugins
/client/src-cordova/www
/client/src-cordova/android
/client/src-cordova/yarn.lock

/client/src-cordova/node_modules
/client/src-cordova/platforms
/client/src-cordova/plugins
/client/src-cordova/www
/client/src-cordova/android
/client/src-cordova/yarn.lock

/client-tsv1/src-cordova/node_modules
/client-tsv1/src-cordova/platforms
/client-tsv1/src-cordova/plugins
/client-tsv1/src-cordova/www
/client-tsv1/src-cordova/android
/client-tsv1/src-cordova/yarn.lock

# Capacitor related directories and files
/client/src-capacitor/www
/client/src-capacitor/node_modules
/client/src-capacitor/android
/client/src-capacitor/yarn.lock

/client/src-capacitor/www
/client/src-capacitor/node_modules
/client/src-capacitor/android
/client/src-capacitor/yarn.lock

/client-tsv1/src-capacitor/www
/client-tsv1/src-capacitor/node_modules
/client-tsv1/src-capacitor/android
/client-tsv1/src-capacitor/yarn.lock

# BEX related directories and files
/client/src-bex/www
/client/src-bex/js/core

/client/src-bex/www
/client/src-bex/js/core

/client-tsv1/src-bex/www
/client-tsv1/src-bex/js/core

# Log files
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.quasar-ide-helper
/client/webpack.config.js
/client/dev.env
/client/prod.env

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.quasar-ide-helper
/client/webpack.config.js
/client/dev.env
/client/prod.env

/client-tsv1/npm-debug.log*
/client-tsv1/yarn-debug.log*
/client-tsv1/yarn-error.log*
/client-tsv1/.quasar-ide-helper
/client-tsv1/webpack.config.js
/client-tsv1/dev.env
/client-tsv1/prod.env

#IGNORE SENSOR
sensor/.idea
sensor/.vscode
sensor/*.iml
sensor/.pio
sensor/cmake-build-debug
sensor/cmake-build-esp32dev
sensor/build/*
!/sensor/build/
!/sensor/cmake-build-debug-mingw/
!/sensor/CMakeLists.txt
!/sensor/CMakeListsPrivate.txt

#IGNORE SENSOR
sensor/.idea
sensor/.vscode
sensor-io/*.iml
sensor/.pio
sensor/cmake-build-debug
sensor/cmake-build-esp32dev
sensor/build/*
!/sensor/build/
!/sensor/cmake-build-debug-mingw/
!/sensor/CMakeLists.txt
!/sensor/CMakeListsPrivate.txt

*.sqlite
/build/yarn.lock
/build/node_modules/
/type/node_modules/
/type/yarn.lock
/executavel/*