<!DOCTYPE html>
<html lang="en">
<head>
    <title>IMU Wi-Fi Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="modules/vue.js"></script>
</head>
<body>
<div id="app">
    <div class="topnav">
        <h1>Wi-Fi Manager</h1>
    </div>
    <div class="content">
        <div class="card-grid">
            <div class="card">
                <form class="form" @submit.prevent="checkForm" autocomplete="off" action="/" method="POST">
                    <div class="form-section" v-for="(section, index) in formSection" :key="index">
                        <p class="card-title">
                            <i class="fas fa-lightbulb"></i>
                            {{section.title}}
                        </p>
                        <div v-for="(field, index) in section.fields" class="form-column" :key="index">
                            <label :for="field.name">
                                {{field.label}}
                            </label>
                            <div class="div-input-validate">
                                <input v-model="field.value" :type="field.type" :id="field.name" :name="field.name">
                                <span class="field-error" v-if="field.errorMessage.length">
                                    {{field.errorMessage[0]}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <input type="submit" value="Configure">
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function checkIp(value) {
        let test = checkNumberAddress(value)
        if(!test){
            test = checkUrlAddress(value)
        }

        return !test ? 'Warning! Ip not valid!' : ''
    }

    function checkNumberAddress(value){
        let pattern = /^[0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+$/g
        return pattern.test(value)
    }

    function checkUrlAddress(value){
        let pattern = /^[0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+$/g
        return pattern.test(value)
    }

    function checkNumber(value) {
        console.log(typeof parseInt(value), parseInt(value))
        return isNaN(parseInt(value)) ? "Warning! Not a number value!" : ""
    }

    function checkSensorName(value) {
        let pattern = /\s/g
        console.log(pattern.test(value))
        return pattern.test(value) ? "Warning! The name must not have blank spaces!" : ""
    }

    function checkMinFrequency(value, min) {
        return value >= min  ? `Warning! Value must be greater than ${min}!` : ""
    }

    function checkMaxFrequency(value, max) {
        return value <= max  ? `Warning! Value must be less than ${max}!` : ""
    }

    function checkNotNull(value) {
        return value === null || value.length === 0 ? "Warning! Required field!" : ""
    }

    const app = new Vue({
        el: "#app",
        data: {
            loading: false,
            formValid: true,
            errorsForm: [],
            formSection: [
                {
                    title: "Wi-Fi",
                    fields: [
                        {
                            name: "ssid",
                            label: "SSID",
                            value: null,
                            rules: [
                                checkNotNull,
                            ],
                            type: "text",
                            nErrors: 0,
                            errorMessage: []
                        },
                        {
                            name: "password",
                            label: "Password",
                            value: null,
                            rules: [
                                checkNotNull,
                            ],
                            type: "password",
                            nErrors: 0,
                            errorMessage: []
                        },
                        {
                            name: "ip",
                            label: "IP Address",
                            value: "192.168.1.200",
                            rules: [
                                checkNotNull,
                                checkIp,
                            ],
                            type: "text",
                            nErrors: 0,
                            errorMessage: []
                        },
                    ]
                },
                {
                    title: "API",
                    fields: [
                        {
                            name: "backend",
                            label: "Server Address",
                            value: "192.168.1.200",
                            rules: [
                                checkNotNull,
                                checkIp,
                            ],
                            type: "text",
                            nErrors: 0,
                            errorMessage: []
                        },
                        {
                            name: "backend",
                            label: "Server Port",
                            value: "8000",
                            rules: [
                                checkNotNull,
                                checkNumber,
                            ],
                            type: "text",
                            nErrors: 0,
                            errorMessage: []
                        },
                    ]
                },
                {
                    title: "Sensor",
                    fields: [
                        {
                            name: "nameSensor",
                            label: "Sensor Name",
                            value: "SENSOR_1",
                            rules: [
                                checkNotNull,
                                checkSensorName,
                            ],
                            type: "text",
                            nErrors: 0,
                            errorMessage: []
                        },
                    ]
                }
            ],
        },
        methods: {
            checkForm: async function (e) {
                try {
                    this.loading = true
                    this.formSection.map(section => {
                        section.fields.map(field => {
                            field.errorMessage = []
                            field.nErrors = 0
                        })
                    })


                    this.formSection.map(senction => {
                        senction.fields.map(field => {
                            field.rules.every((rule, index, array) => {
                                const result = rule(field.value)
                                if (result?.length > 0) {
                                    field.nErrors++
                                    field.errorMessage.push(result)
                                    this.errorsForm.push(result)
                                    return false
                                }
                                return true
                            })
                        })
                        console.log(this.formSection)
                    })

                    if (this.errorsForm.length > 0) {
                        this.formValid = false
                        return false
                    }


                } catch (e) {
                    console.log(e)
                    this.formValid = false
                } finally {
                    this.loading = false
                }
            },
        },
    })
    console.log(app)
</script>
</body>
</html>