@import 'utils.styl'
@import 'mixins.styl'
// app global css in Stylus form
*
  box-sizing border-box
  scrollbar-width thin
  scrollbar-color $lightgrey

::-webkit-scrollbar
  width 7px
  height 7px
  background-color #f5f5f5

::-webkit-scrollbar-thumb
  background-color $lightgrey
  border none
  border-radius 5px

.responsive-height
  width 100%
  height calc(100vh - 50px)
  max-height 1080px

.responsive-content
  height 100%
  max-width 1920px
  margin auto
  overflow-x hidden

.grid-tela
  display grid
  flex-direction column
  padding 10px

.form-column //colunas
  display flex
  flex-direction row

  &__gap
    gap 16px

    &-sm
      gap 6px

    &-md
      gap 12px

    &-lg
      gap 18px

  &__padding
    padding 16px

    &-sm
      gap 6px

    &-md
      gap 12px

    &-lg
      gap 18px

  &__no-padding
    padding 0

.form-lines //linhas
  display flex
  flex-direction column

  &__gap
    gap 16px

    &-sm
      gap 6px

    &-md
      gap 12px

    &-lg
      gap 18px

  &__padding
    padding 16px

    &-sm
      gap 6px

    &-md
      gap 12px

    &-lg
      gap 18px

  &__no-padding
    padding 0

.content-column //colunas
  display flex
  gap 16px
  flex-direction row

.content-component
  display grid
  height 100%

.q-btn
  padding 2.5px
