{
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": 2 // Means error
  },
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 80
}