// app global css in SCSS form
@import 'utils.scss';
@import 'mixins.scss';
@import 'quasar.variables.scss';

// app global css in Stylus form
* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $lightgrey;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: $lightgrey;
  border: none;
  border-radius: 5px;
}

.responsive-height {
  width: 100%;
  height: calc(100vh - 50px);
  max-height: 1080px;
}

.responsive-content {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  overflow-x: hidden;

  > * {
    flex: 1;
    width: 100%
  }
}

.form-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;

  > * {
    flex: 1;
    min-width: 170px;
    max-width: 100%;
  }
}

.form-lines {
  display: flex;
  flex-direction: column;
  flex: 1;

  > * {
    max-width: 100%;
  }
}


.content-component {
  display: grid;
  height: 100%;
}

.q-btn {
  padding: 2.5px;
}

.q-dialog__inner {
  &--minimized {
    @include mobile-portrait() {
      padding: 6px !important;
    }
  }

  & > .q-card {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:  "dialog-header" "dialog-content" "dialog-actions";

    .dialog-header {
      grid-area: dialog-header;
    }

    .q-card {
      &__section {
        grid-area: dialog-content;
        overflow-y: auto;
      }

      &__actions {
        grid-area: dialog-actions;
      }
    }
  }
}

.access-p {
  display: flex;
  justify-content: flex-end;
  gap: 3px;
  color: $faded width 100% text-align center;
  margin-top: 8px;
  margin-bottom: 0;

  a {
    font-weight: bold;
    color: $dark;
  }
}

.access-card {
  width: 470px;
  padding: 30px 46px;
  @include mobile-portrait() {
    padding: 0;
  }
}

.title-h3 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  color: $dark;
}
